# Chip: ESP32-S3 (run `idf.py set-target esp32s3` on first clone if build fails)
CONFIG_IDF_TARGET="esp32s3"

CONFIG_BAT_MQTT_BROKER_URI="mqtt://10.1.133.82:1883"
CONFIG_BAT_LED_GPIO=10
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
